
.modal-dialog {
	margin-top:100px;
}

.address-lg {
	font-size: 1.5em;
}
.date-lg {
	font-size: 1.5em;
}

.btn-space {
	margin: 15px 0px
}

.navbar-title {
	color: white;
	font-size: 40px;
}

.test2 {
	width: 0px;
	height: 500px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.test2:after {
	content: "";
	display: block;
	height: 2px;
	width: 500px;
	border-bottom: 5px solid #FFFFFF;
}
.test2:before {
	content: "";
	display: block;
	height: 2px;
	width: 500px;
	border-bottom: 5px solid #FFFFFF;
}
.test {
	width: 500px;
	-webkit-transition: all 1.2s ease-in-out;
	-moz-transition: all 1.2s ease-in-out;
	-o-transition: all 1.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 1.2s ease-in-out;
}