
.modal-dialog {
	margin-top:100px;
}

.address-lg {
	font-size: 1.5em;
}
.date-lg {
	font-size: 1.5em;
}

.btn-space {
	margin: 15px 0px
}

.navbar-title {
	color: white;
	font-size: 40px;
}

 .google-maps {
    position: relative;
    padding-bottom: 500px; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.google-maps .map-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}