---
layout: default
---

<!-- Begin intro -->
{% include intro.html %}
<!-- End intro -->

<!-- Begin story section -->
{% include story.html %}
<!-- End story section -->

<!-- Begin US wedding -->
{% include us-wedding.html %}
<!-- End US Wedding -->

<!-- Begin IS wedding -->
{% include is-wedding.html %}
<!-- End IS Wedding -->

<!-- Begin Regestry -->
{% include registry.html %}
<!-- End Regestry -->

<!-- Begin RSVP -->
{% include rsvp.html %}
<!-- End RSVP -->

<!-- Begin FAQ -->
{% include faq.html %} 
<!-- End FAQ -->

    
