
<section id="faq" class="page text-center">
    <!-- Begin page header-->
    <div class="section-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>FAQ</h2>
                <div class="devider"></div>
                <p class="subtitle">What? Who? Where? What's happening, who am I?</p>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <div class="container text-left">
      <row>
        <div class="col-lg-4">
          <img class="img-responsive" src="{{ site.baseurl }}/img/isafjordur2.jpg"/>
        </div>

        <div class="col-lg-8">
          <div class="faq-item">
            <h4>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              Am I invited to both weddings? 
            </h4>
            <p>
              We are thrilled to be joining two families across the sea and so lucky to be able to celebrate our love twice.  We have invited you to the wedding that is geographically closest to you.  If you are interested in traveling overseas to attend the other wedding, we would love to have you!  Just please let us know as early as possible so that we can see if we can accommodate you!
            </p>
          </div>
          
          <div class="faq-item">
            <h4>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              Will you be Mr and Mrs Magnusson?
            </h4>
            <p>
              Short answer...no.  We will both be keeping our birth names.  We will proudly remain Mr. Guðjón Magnússon and Ms. Lauren Shetler even after the wedding.  For those of you unfamiliar with the patronymic naming system that Iceland follows, you can learn more <a href="https://en.wikipedia.org/wiki/Icelandic_name">here</a>.
            </p>
          </div>

          <div class="faq-item">
            <h4>
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              How do you pronounce Guðjón?
            </h4>
            <p>
              In Icelandic the letter 'ð' roughly makes a 'th' sound, but when written with the English alphabet its generally replaced with the letter 'd'. The letter 'ó' is pronounce like a normal English 'o'.
              If you want to try to pronounce it correctly you can try to say Guthjon. For simplicity I tell people to call me Goodjon, as apposed to Badjon.
              Don't worry, I don't get offended. I will answer to any noise you make if just point at me.
            </p>
          </div>

        </div>
      </row>
    </div>

</section>