
<section id="intro" class="parallax" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="200"
  style="background-image: url('{{ site.github.url }}/img/intro1.jpg')">
  
  <div class="back-drop"></div>
  
  <div class="title text-center text-outline" data-stellar-ratio="0.17">
    <div class="title-big wow fadeInUp" data-wow-delay="0.5s">Lauren Laree Shetler</div>
    <div class="title-small wow fadeInUp" data-wow-delay="1.0s">&</div>
    <div class="title-big wow fadeInUp" data-wow-delay="1.5s">Guðjón Einar Magnússon</div>

    <p class="wow fadeIn" data-wow-delay="3.0s">We're getting married</p>
    <p class="wow fadeIn" data-wow-delay="4.0s">And you're invited</p>
  </div>

</section>