
<section id="is-wedding">
  <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" 
    style="background-image: url({{ site.github.url }}/img/is-map.png);">
      <div class="cover"></div>
      <!-- Begin page header-->
      <div class="section-header-wrapper">
          <div class="container">
              <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                  <h2>Iceland Wedding</h2>
                  <div class="devider"></div>
                  <p class="subtitle">Don't worry you won't need snow pants</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class ="page">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <img class="img-responsive" src="img/hnisfdalur.jpg"/>
      </div>
      <div class="col-lg-8 col-sm-8">

          <address class="address-lg">
            <strong>Félagsheimilið í Hnífsdal</strong><br>
            Strandgötu<br>
            410 Hnífsdal
          </address>

          <div class="date-lg">
            24. Júní 2017
          </div>

          <a href="https://goo.gl/maps/bndUC113KEx" class="btn btn-primary btn-space">Directions</a>
          <a href="{{ site.github.url }}/is-travel" class="btn btn-primary">Travel Information</a>
      </div>
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-lg-8 col-sm-8">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices mi sed pretium aliquet. Phasellus dignissim eu est ac tincidunt. Praesent ut est et erat sollicitudin pretium vel non mi. Nam nec nulla lectus. Praesent non nunc neque. Aliquam ut libero velit. Ut convallis, turpis at cursus ultricies, purus mi aliquam nulla, in aliquam mi quam sit amet justo. Integer tempor odio lorem, non bibendum felis rhoncus sit amet.
          </p>

      </div>
      <div class="col-lg-4 col-sm-4">
        <img class="img-responsive" src="{{ site.github.url }}/img/isafjordur2.jpg"/>
      </div>
    </div> <!-- /.row -->
  </div>
</section>