
<section id="regestry" class="page text-center">
    <!-- Begin page header-->
    <div class="section-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Regestry</h2>
                <div class="devider"></div>
                <p class="subtitle">A polite way to say "Give us stuff"</p>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <!-- Begin roatet box-2 -->
    <div class="rotate-box-2-wrapper">
        <div class="container">

            <div class="row">
              <div class="col-md-3 col-sm-6">
                  <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                      <span class="rotate-box-icon">
                      <img width="100" src="img/logo/amazon.png" alt="...">
                      </span>
                      <div class="rotate-box-info">
                          <h4>Amazon</h4>
                          <p>This is where we get most of our stuff</p>
                      </div>
                  </a>
              </div>
                <div class="col-md-3 col-sm-6">
                  <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                      <span class="rotate-box-icon">
                      <img width="100" src="img/logo/home_deport.png" alt="...">
                      </span>
                      <div class="rotate-box-info">
                          <h4>Home Deport</h4>
                          <p>We need tools to build our shared home</p>
                      </div>
                  </a>
              </div>
                <div class="col-md-3 col-sm-6">
                  <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                      <span class="rotate-box-icon">
                      <img width="100" src="img/logo/bed_bath.png" alt="...">
                      </span>
                      <div class="rotate-box-info">
                          <h4>Bed Bath and Beond</h4>
                          <p>Fill our home with soft, furry cloth</p>
                      </div>
                  </a>
              </div>
                <div class="col-md-3 col-sm-6">
                  <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                      <span class="rotate-box-icon">
                      <img width="100" src="img/logo/honeyfund.png" alt="...">
                      </span>
                      <div class="rotate-box-info">
                          <h4>Honeyfund</h4>
                          <p>We love to travel and would love to end the wedding madnes with a trip through Europe</p>
                      </div>
                  </a>
              </div>

            </div> <!-- /.row -->
        </div> <!-- /.container -->
              
    </div>
    <!-- End rotate-box-2 -->
</section>