
<section id="registry" class="page text-center">
    <!-- Begin page header-->
    <div class="section-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Registry</h2>
                <div class="devider"></div>
                <p class="subtitle">A polite way to say "Give us stuff"</p>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <!-- Begin roatet box-2 -->
    <div class="rotate-box-2-wrapper">
        <div class="container">

          <div class="row">
            <div class="col-lg-12">
              <p>
                We are so excited to celebrate our wedding with you. If you would like to help us build our home together please see the links below.
              </p>
            </div>
          </div>

            <div class="row">
              <div class="col-md-3 col-sm-6">
                  <a href="https://www.amazon.com/wedding/lauren-shetler-gudjon-magnusson-williamsport-may-2017/registry/1KQWYTQW62IP" 
                    class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                      <span>
                        <img width="100" src="img/logo/amazon.png" alt="...">
                      </span>
                      <div class="rotate-box-info">
                          <h4>Amazon</h4>
                          <p>This is where we get most of our stuff</p>
                      </div>
                  </a>
              </div>
                <div class="col-md-3 col-sm-6">
                  <a href="https://secure2.homedepot.com/webapp/wcs/stores/servlet/ListDetailsView?catalogId=10053&langId=-1&storeId=10051&krypto=eEwCNOHGAiMh8phnPN%2BVTQ9ThYKC%2B29JMaFBOI%2B2ky87W2zeuzAM4kFpg3WvlEEZKY4yg7BbVd3i0DJlAj7XsSVPc7uQ97E68HA9ac2DT36a9rT3wrHdnby5kSXJKbo4MINvZMX0kGYwTTzHZvdpMU8MxNe8t0KvNHQHk1O2BWk7bCJssRTG5YJuCtCBLirx688S%2BvNN1xa6A0SC0pNFkQ%3D%3D" 
                    class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                      <span>
                        <img width="100" src="img/logo/home_deport.png" alt="...">
                      </span>
                      <div class="rotate-box-info">
                          <h4>Home Deport</h4>
                          <p>We need tools to build our shared home</p>
                      </div>
                  </a>
              </div>
                <div class="col-md-3 col-sm-6">
                  <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=543737930&eventType=Wedding"
                    class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                      <span>
                        <img width="100" src="img/logo/bed_bath.png" alt="...">
                      </span>
                      <div class="rotate-box-info">
                          <h4>Bed Bath and Beyond</h4>
                          <p>Fill our home with soft, furry cloth</p>
                      </div>
                  </a>
              </div>
                <div class="col-md-3 col-sm-6">
                  <a href="https://www.honeyfund.com/wedding/GudjonandLauren2017"
                     class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                      <span>
                        <img width="100" src="img/logo/honeyfund.png" alt="...">
                      </span>
                      <div class="rotate-box-info">
                          <h4>Honeyfund</h4>
                          <p>Help us save for that first down payment</p>
                      </div>
                  </a>
              </div>

            </div> <!-- /.row -->
        </div> <!-- /.container -->
              
    </div>
    <!-- End rotate-box-2 -->
</section>