
<section id="rsvp" class="page text-center">
    <!-- Begin page header-->
    <div class="section-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>RSVP</h2>
                <div class="devider"></div>
                <p class="subtitle">French for "Are you coming to my party or not?!"</p>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <div class="container">
      <row>
        <div class="col-lg-4 col-lg-offset-1">
          <h3>United States Wedding</h3>
          <img class="img-responsive img-rounded" src="{{ site.baseurl }}/img/us-guns.jpg"/>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices mi sed pretium aliquet.
          </p>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#us-rsvp-modal">
            RSVP Now
          </button>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
          <h3>Iceland Wedding</h3>
          <img class="img-rounded img-responsive" src="{{ site.baseurl }}/img/is-hike.jpg"/>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices mi sed pretium aliquet.
          </p>
          <div class="extra-space-m"></div>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#is-rsvp-modal">
            RSVP Now
          </button>
        </div>
      </row>
    </div>
</section>

<!-- US Modal -->

<div class="modal fade" id="us-rsvp-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

          <form id="us-rsvp-form">

            <fieldset class="form-group">
              <legend>Will you come to the party?</legend>
              <div class="radio">
                <label>
                  <input type="radio" name="entry.1003793259" id="acceptRadio1" value="Accept with pleasure">
                  Accept with pleasure
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="entry.1003793259" id="acceptRadio2" value="Decline with regret">
                  Decline with regret
                </label>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <legend>What do you want to eat?</legend>
              <div class="radio">
                <label>
                  <input type="radio" name="entry.643963357" id="foodRadio1" value="Meat">
                  Meet
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="entry.643963357" id="foodRadio2" value="Fish">
                  Fish
                </label>
              </div>
            </fieldset>

            <div class="form-group">
              <label for="inputNames">Who is coming</label>
              <input type="text" name="entry.1017406102" class="form-control" id="inputNames" >
              <small id="emailHelp" class="form-text text-muted">Enter the full name of everyone in your group seperated by a comma</small>
            </div>

            <button id="btn-rsvp-us" type="button" class="btn btn-primary">Submit</button>
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- IS Modal -->
<div class="modal fade" id="is-rsvp-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

          <form id="is-rsvp-form">

            <fieldset class="form-group">
              <legend>Will you come to the party?</legend>
              <div class="radio">
                <label>
                  <input type="radio" name="entry.1003793259" id="acceptRadio1" value="Accept with pleasure">
                  Accept with pleasure
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="entry.1003793259" id="acceptRadio2" value="Decline with regret">
                  Decline with regret
                </label>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <legend>What do you want to eat?</legend>
              <div class="radio">
                <label>
                  <input type="radio" name="entry.643963357" id="foodRadio1" value="Meat">
                  Meet
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="entry.643963357" id="foodRadio2" value="Fish">
                  Fish
                </label>
              </div>
            </fieldset>

            <div class="form-group">
              <label for="inputNames">Who is coming</label>
              <input type="text" name="entry.1017406102" class="form-control" id="inputNames" >
              <small id="emailHelp" class="form-text text-muted">Enter the full name of everyone in your group seperated by a comma</small>
            </div>

            <button id="btn-rsvp-is" type="button" class="btn btn-primary">Submit</button>
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>