
<section id="us-wedding">
  <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" 
    style="background-image: url({{ page.url | prepend: site.github.url }}img/us-map.png);">
      <div class="cover"></div>
      <!-- Begin page header-->
      <div class="section-header-wrapper">
          <div class="container">
              <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                  <h2>United States Wedding</h2>
                  <div class="devider"></div>
                  <p class="subtitle">We're getting married in Maryland, USA on May 28th</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="container page">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <img class="img-responsive" src="img/barn.jpg"/>
      </div>
      <div class="col-lg-8 col-sm-8">

          <address class="address-lg">
            <strong>Springfield Farm Barn</strong><br>
            12 Springfield Lane<br>
            Williamsport, MD 21795
          </address>

          <div class="date-lg">
            May 28th at 5pm
          </div>

          <a href="https://goo.gl/maps/1WxSjqBB8Hs" class="btn btn-primary btn-space">Directions</a>
          <a href="{{site.baseurl}}/us-travel" class="btn btn-primary">Travel Information</a>
      </div>
    </div> <!-- /.row -->

  <div class="container page">
    <div class="row">
      <div class="col-lg-8 col-sm-8">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices mi sed pretium aliquet. Phasellus dignissim eu est ac tincidunt. Praesent ut est et erat sollicitudin pretium vel non mi. Nam nec nulla lectus. Praesent non nunc neque. Aliquam ut libero velit. Ut convallis, turpis at cursus ultricies, purus mi aliquam nulla, in aliquam mi quam sit amet justo. Integer tempor odio lorem, non bibendum felis rhoncus sit amet.
          </p>

          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices mi sed pretium aliquet. Phasellus dignissim eu est ac tincidunt. Praesent ut est et erat sollicitudin pretium vel non mi. Nam nec nulla lectus. Praesent non nunc neque. Aliquam ut libero velit. Ut convallis, turpis at cursus ultricies, purus mi aliquam nulla, in aliquam mi quam sit amet justo. Integer tempor odio lorem, non bibendum felis rhoncus sit amet. Integer maximus velit nec odio elementum faucibus.
          </p>
          <p>
            No Smoking is allowed at or around the barn
          </p>


      </div>
      <div class="col-lg-4 col-sm-4">
        <img class="img-responsive" src="img/barn.jpg"/>
      </div>
    </div> <!-- /.row -->
  </div>
</section>