
<section id="us-wedding">
  <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" 
    style="background-image: url({{ site.github.url }}/img/us-map.png);">
      <div class="cover"></div>
      <!-- Begin page header-->
      <div class="section-header-wrapper">
          <div class="container">
              <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                  <h2>United States Wedding</h2>
                  <div class="devider"></div>
                  <p class="subtitle">No cowboy boots required</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <img class="img-responsive" src="{{ site.github.url }}/img/barn.jpg"/>
      </div>
      <div class="col-md-4 col-sm-6">
        <address>
          <strong>Springfield Farm Barn</strong><br>
          12 Springfield Lane<br>
          Williamsport, MD 21795
        </address>

        <div class="text-loud">
          May 28th 2017
        </div>

        <div class="text-loud">
          Attire: Fancy fun
        </div>
      </div>
      <div class="col-sm-12 col-md-4 link-group">
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-6 col-md-offset-0">
            <a href="https://goo.gl/maps/1WxSjqBB8Hs" class="link-btn">
              <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
              <div>Directions</div>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-6">
            <a href="{{ site.github.url }}/us-travel" class="link-btn">
              <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
              <div>Travel Information</div>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-6">
            <a href="{{ site.github.url }}/us-accommodation" class="link-btn">
              <span class="glyphicon glyphicon-bed" aria-hidden="true"></span>
              <div>Accommodations</div>
            </a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-6">
            <a href="{{ site.github.url }}/us-todo" class="link-btn">
              <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
              <div>Things To Do</div>
            </a>
          </div>
          </div>
      </div>

    </div> <!-- /.row -->

    <div class="row">
      <div class="col-lg-8 col-sm-8">
          <p>
            The ceremony and reception will take place in the historic Springfield barn. The barn which overlooks Williamsport's Byron Memorial Park was built circa 1755 by Otho Holland Williams, the founder of Williamsport. While some renovations have been made over the years, the barn still possesses the majority of its original materials. Lauren and Guðjón first saw the barn while attending a town Christmas event with Lauren's family. They immediately fell in love with the historic look and feel.
          </p>

      </div>
        <div class="col-lg-4 col-sm-4">
          <img class="img-responsive" src="{{ site.github.url }}/img/img10.jpg"/>
      </div>
    </div> <!-- /.row -->
  </div>
</section>