<!doctype html>
<!--
  Template:  Unika - Responsive One Page HTML5 Template
  Author:    imransdesign.com
  URL:     http://imransdesign.com/
    Designed By: https://www.behance.net/poljakova
  Version:  1.0 
-->
<html lang="en-US">
  {% include head.html %} 

    <body data-spy="scroll" data-target="#main-navbar">
      <div class="page-loader"></div>  <!-- Display loading image while page loads -->
      <div class="body">

        <!--========== BEGIN HEADER ==========-->
        {% include header-page.html %} 
        <!-- ========= END HEADER =========-->

        <!-- Begin page header-->
        <div class="page-header-wrapper">
            <div class="container">
                <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                    <h2>{{ page.title }}</h2>
                    <div class="devider"></div>
                    <p class="subtitle">{{ page.subtitle }}</p>
                </div>
            </div>
        </div>
        <!-- End page header-->

        <!--========== BEGIN CONTENT ==========-->
        {{ content }}
        <!-- ========= END CONTENT =========-->

        <!-- Begin footer -->
        {% include footer.html %} 
        <!-- End footer -->

      </div><!-- body ends -->
        
            
      <!-- Plugins JS -->
      <script src="{{ site.github.url }}/inc/jquery/jquery-1.11.1.min.js"></script>
      <script src="{{ site.github.url }}/inc/bootstrap/js/bootstrap.min.js"></script>
      <script src="{{ site.github.url }}/inc/owl-carousel/js/owl.carousel.min.js"></script>
      <script src="{{ site.github.url }}/inc/stellar/js/jquery.stellar.min.js"></script>
      <script src="{{ site.github.url }}/inc/animations/js/wow.min.js"></script>
      <script src="{{ site.github.url }}/inc/waypoints.min.js"></script>
      <script src="{{ site.github.url }}/inc/isotope.pkgd.min.js"></script>
      <script src="{{ site.github.url }}/inc/classie.js"></script>
      <script src="{{ site.github.url }}/inc/jquery.easing.min.js"></script>
      <script src="{{ site.github.url }}/inc/jquery.counterup.min.js"></script>
      <script src="{{ site.github.url }}/inc/smoothscroll.js"></script>

      <!-- Theme JS -->
      <script src="{{ site.github.url }}/js/theme.js"></script>
      <script src="{{ site.github.url }}/js/lsgm.js"></script>

    </body> 
        
</html>
